# Dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
dist/
build/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Version control files
.git/

# Package files
*.tgz
*.tar.gz